<form [formGroup]="form" (ngSubmit)="submit(form)">
	<h1>Add New User</h1>
	<hr>
	<mat-dialog-content>
		<div class = "component">
			<label>First Name:</label>
	      	<input matInput formControlName="firstname">
	    </div>
	    <div class = "component">
			<label>Last Name:</label>
	      	<input matInput formControlName="lastname">
	    </div>
	    <div class = "component">
			<label>Userame:</label>
	      	<input matInput formControlName="username">
	    </div>
	    <div class = "component">
			<label>Password:</label>
	      	<input matInput formControlName="password">
	    </div>
	</mat-dialog-content>

	<mat-dialog-actions>
	  <button type="submit" mat-button>Add</button>
	  <button type="button" (click)=cancel() mat-button>Cancel</button>
	</mat-dialog-actions>
</form>