<div *ngIf="currentUser.username === 'admin' else elseBlock">
	<div>
		<mat-card class="matcardcontent">
			<h2 class="capitalize">Hi {{currentUser.firstname}},</h2><h2> here's all the worklogs of users.</h2>
			<table class="center">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Date</th>
						<th>Title of Work</th>
						<th>Description of Work</th>
						<th>Hours worked</th>
					</tr>
				</thead>
				<tbody class="table-hover">
					<tr *ngFor = "let workLog of workLogs; let i = index" [attr.data-index]="i">
						<td>{{i+1}}</td>
						<td>{{workLog.user.firstname}} {{workLog.user.lastname}}</td>
						<td>{{workLog.date}}</td>
						<td>{{workLog.titleOfWork}}</td>	
						<td>{{workLog.descriptionOfWork}}</td>
						<td>{{workLog.noOfHours}}</td>				
					</tr>
				</tbody>
			</table>
		</mat-card>
	</div>	
</div>


<ng-template #elseBlock>
	<div>
		<mat-card class="matcardcontent">
			<h2 class="capitalize">Hi {{currentUser.firstname}},</h2><h2> here's your worklog.</h2>
			<table class="center">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Title of Work</th>
						<th>Description of Work</th>
						<th>Hours worked</th>
					</tr>
				</thead>
				<tbody class="table-hover">
					<tr *ngFor = "let uswl of userSpecificWorkLogs; let i = index" [attr.data-index]="i">
						<td>{{i+1}}</td>
						<td>{{uswl.date}}</td>
						<td>{{uswl.titleOfWork}}</td>	
						<td>{{uswl.descriptionOfWork}}</td>
						<td>{{uswl.noOfHours}}</td>				
					</tr>
				</tbody>
			</table>
		</mat-card>
	</div>

	<div>
		<span class="add">
		    <button (click)="openAddWorkLogDialog()" mat-fab>
		      <mat-icon>add circle</mat-icon>
		    </button>
		</span>
	</div>
</ng-template>
