/*mat-card {
  max-width: 80%;
  margin: 6em auto;
  text-align: center;
  height: 600px;
}*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
     position: fixed;
    width: 64%;
}

table.center {
    margin-top: 90px;
    margin-left:auto;
    margin-right:50px;
}

th {
  border: 1px solid #dddddd;
  background-color: #dddddd;
  text-align: left;
  padding: 8px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

.capitalize {
   text-transform: capitalize;
}

.add {
  position: fixed;
  bottom: 40px;
  right: 150px;
}

mat-card h2{
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  float: left;
}

.matcardcontent{
  max-width: 80%;
  margin: 4em auto;
  text-align: center;
  height: 600px;
}