.home-container {
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-sidenav {
  align-items: center;
  justify-content: center;
  width: 200px;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.home-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
  font-family: arial, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

li: hover a{
  background-color: #5C6BC0;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

