.home-container {
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-sidenav {
  align-items: center;
  justify-content: center;
  width: 250px;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.home-header {
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  text-align: center;
}

mat-toolbar h1{
  font-size: 22px;
}

.nav li a{
  padding-left: 50px;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
  font-family: arial, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  align-items: center;
}

.capitalize {
   text-transform: capitalize;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

